.form-create-product {
    .product-image-group {
        .product-image {
            width: 150px;
            height: auto;
            border: 1px solid red;
        }
    }

    .product-video-group {
        .product-video {
            width: 150px;
            height: auto;
            border: red solid 1px;
        }
    }
}